.App {
  text-align: center;

}

img {
  height: 100%;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.item {
  position: relative;

  min-width: 400px;

  margin: 0 5px;
  overflow: hidden;
}

.item:hover .overlay {
  display: block;
  bottom: 0px;
}

.overlay {
  position: absolute;
  background-color: darkcyan;
  width: 100%;
  height: 100px;
  bottom: -100px;
  transition: bottom 1s;
}

.details {
  background-color: gray;
}

.movie-container {
  padding: 100px 0;
  display: block;
}

@media screen and (min-width: 600px) {
  .movie-container {
    display: flex;
  }
  .synopsis {
    flex: 1;
    flex-wrap: wrap;
    margin: auto;
  }

  .cover {
    flex: 1;
  }
}

input {
  width: 300px;
  height: 50px;
  background-color: darkgray;
  margin-bottom: 50px;
  margin-right: 50px;
}

.search {
  background-color: red;
  height: 50px;
  width: 300px;
}

.my-button {
  background-color: white;
  padding:10px;
  margin: 10px;
}

.topic {
  display: block;
  
}

.cursive {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: darkgray
}

.left {
  text-align: left;
  font-size: larger;
  font-weight: bold;
  list-style: square outside none;
  font-style: italic;
}

