.App {
  text-align: center;
}

img {
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 100vw;
}

@media screen and (min-width: 600px) {
  .item {
    flex: 1;
  }
}

/*   display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
 */
/* not aligned in mobile , there is no margin space in mobile */
