.App {
  text-align: center;
}

img {
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 100vw;
  padding: 30px;
}

.item:hover {
  width: 100vw;
}

.item:hover .overlay {
  display: block;
  position: relative;
  height: 100px;
  top: -100px;
}

.overlay {
  position: absolute;
  background-color: darkcyan;
  display: none;
}

@media screen and (min-width: 600px) {
  .item {
    flex: 1;
  }
}

/*   using grid
display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
 */
/* not aligned in mobile , there is no margin space in mobile */
